.body {
	font-family: var(--main-font), sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.2;
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	text-decoration: none;
	letter-spacing: 0.03em;
}
