.footer {
	background-color: #2f303a;
	color: var(--light-text-color);
	padding-top: 60px;
	padding-bottom: 60px;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}
.footer-social-links {
	display: flex;
	width: 206px;
	height: 44px;
}
.social-link-item:not(:last-child) {
	margin-right: 10px;
}

.social-link-item {
	width: 44px;
	height: 44px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo-footer {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
	margin-bottom: 20px;
	margin-right: 0;
}
.logo-footer span {
	color: var(--accent-color);
}
.logo-footer:focus {
	color: var(--accent-color);
}
.adress-footer {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
}
.contacts-footer {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.footer-title {
	display: block;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-bottom: 20px;
}
.footer-adress {
	width: 230px;
}
.footer-join {
	width: 206px;
}
.logo-adress {
	width: 215px;
}

.contact-form-input {
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	margin-right: 12px;
	background: #2f303a;
	padding-left: 15px;
	color: rgba(255, 255, 255, 0.6);
}
.contact-form {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.footer-subskribe-button {
	display: flex;
	width: 200px;
	height: 50px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--primary-white-color);
	align-items: center;
	padding-left: 29px;
}
.footer-subskribe-button-svg {
	fill: var(--primary-white-color);
	margin-left: 10px;
	margin-bottom: 13px;
	margin-top: 13px;
}
.footer-social-svg {
	fill: var(--primary-white-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links {
	width: 44px;
	height: 44px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 50%;
	align-items: center;
	display: flex;
	justify-content: center;
	background: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:focus {
	background-color: var(--accent-color);
}
.social-links:hover {
	background-color: var(--accent-color);
}
